


body {
  display: flex;
  justify-content: center;
  align-items: center;


}
.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid black;
  border-radius: 50px;
  width: 500px;
  height: 550px;
  transition: 1000ms;


}

.img{
  border-radius: 50px;
}

.App:hover{
  width: 520px;
  height: 570px;
}
